.intro-page {
    width: 100%;
    height: calc(100vh -10vh);

    .intro-img {
        max-width: 150px;
        margin: 24px auto;
    }

    .quote {
        margin-top: 36px;
        .bio {
            font-weight: normal;
            font-size: 1.2rem;
            span {
                font-weight: 800;
                display: block;
            }
        }
        h2 {
            font-weight: normal;
            font-size: 1.2rem;
        }
        h3 {
            margin-top: 16px;
            font-weight: normal;
            font-size: 1.1rem;
        }
    }

    .social-media-icons {
        margin-top: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-evenly;
        a svg {
            font-size: 2rem;
            color: #9980fa;
        }
    }
}