@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  padding: 0 24px;

  h1, 
  h2, 
  h3, 
  p, 
  span, 
  a {
    color: #292e31;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}